body {
  margin: 0;
  font-family: Georgia, serif;
  background: #fff3f5;
  color: #333;
}

.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 60px;
}

.btn {
  background: #b76e79;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

nav {
  background: #8c4a55;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.card {
  background: white;
  margin: 40px;
  padding: 30px;
  border-radius: 15px;
}

.menu-btn {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background: #b76e79;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.menu-content {
  display: none;
  margin: 15px 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.menu-item {
  width: 150px;
  text-align: center;
}

.menu-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 25px;
}
